# Nim
nimcache/
nimblecache/
htmldocs/
*.exe
*.so
*.dylib
*.dll
*.a
*.lib
*.o
*.obj

# Pebble SDK
**/build/
**/appinfo.json
**/src/c/
.lock-waf*
.pebble-sdk/

#Pebble SDK docs
sdk-docs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test artifacts
/tmp/
*.pbw

