# Nim cross-compilation configuration for Pebble (example-local)

# Target configuration
--os:any
--cpu:arm
--mm:arc

# Memory management
-d:useMalloc
--noMain

# Compilation mode
--compileOnly
-d:noSignalHandler
--threads:off
-d:danger

# Nimcache directory
--nimcache:nimcache

--path:"../../src"
